


.Single_Menu {
    height: 150px;
    width: 700px;
    margin-top: 20px;
    background-color: #242424;
}

.container {
  margin: 0%;
  padding: 0%;
  width: 50px; 
}

.menu_image {
  height: 150px;
  width: 150px;
}
.menu-name h1 {
  font-size: 15px;
  color: aliceblue;
}

.menu-details {
  display: flex;
  float: right;
  padding-left: 100px;
}

h1 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
}

h3 {
  color: wheat;
  font-size: 15px;
  text-align: center;
}

.rating {

  text-align: center;
}



.menu_link:link {
  color: black;
  text-decoration: none;
} 

.rating_title {

  color: white;
}
.add-to-cart-button{
  color: white;
}

