.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}










/*==============================================About us=============================*/
.about-us,
.contact-us,
.privacy-policy p{
  text-align: center;
  margin-bottom: 20%;
  margin-right: 10%;
  margin-left: 10%;
}
